#custom-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-background-light-image {
    background-image: url('../images/signuppage/background_light.jpg');
    height: 85vh;
}

.custom-background-dark-image {
    background-image: url('../images/signuppage/background_dark.jpeg');
    height: 85vh;
}