#custom-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-social-button {
    width: 100%;
}

@media screen and (max-width: 767px) and (max-height: 637px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 100%;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 100%;
    }
}

@media screen and (max-height: 637px) and (min-width: 768px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 100%;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 100%;
    }
}

@media screen and (max-width: 767px) and (min-height: 638px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 100%;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 100%;
    }
}

@media screen and (min-width: 768px) and (min-height: 638px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 85vh;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 85vh;
    }
}

/* @media screen and (min-height: 641px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 85vh;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 85vh;
    }
}

@media screen and (max-height: 640px) {
    .custom-background-light-image {
        background-image: url('../images/signuppage/background_light.jpg');
        height: 100%;
    }

    .custom-background-dark-image {
        background-image: url('../images/signuppage/background_dark.jpeg');
        height: 100%;
    }
} */